doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes')
    title Chess Editor
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/app/css/styles.css')
    script(data-main='/app/js/app' src='/bower/requirejs/require.js')
  body
      h1 Chess Editor
      board
        each i in [1, 2, 3, 4, 5, 6, 7, 8]
          board-row
            each j in [1, 2, 3, 4, 5, 6, 7, 8]
              square(data-row=i, data-col=j,class=((i+j)%2==0 ? 'white' : 'black'))
